# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
*.tfplan
*.tfvars
!*.tfvars.example
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
*.swo

# examples/lambda archive_file output
examples/lambda/lambda.zip
